@import "tailwindcss";

@theme {
  --color-brand-50: #fff1f1;
  --color-brand-100: #ffe0e0;
  --color-brand-200: #ffc6c6;
  --color-brand-300: #ff9d9d;
  --color-brand-400: #ff6666;
  --color-brand-500: #f83b3b;
  --color-brand-600: #e21f1f;
  --color-brand-700: #bd1616;
  --color-brand-800: #9c1616;
  --color-brand-900: #821919;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

::selection {
  @apply bg-brand-200;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  @apply cursor-pointer;
}
